.about-container {
    padding: 16px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  .about-title {
    font-size: 1.25rem; /* 20px */
    padding: 16px;
    font-weight: bold;
    margin-bottom: 16px;
  }
  
  .about-description {
    margin-bottom: 16px;
    padding: 16px;
    padding-top: 20px;
    padding-bottom: 20px;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .about-button {
    text-decoration: underline;
    font-weight: 600;
    padding: 16px;
    padding-top: 20px;
    padding-bottom: 20px;
    cursor: pointer;
  }
  